@import url(n-icon.css);

/* == heading == */
:root{
    --color-base-1: #ffffff;
    --color-base-2: #e9e9e9;
    --color-base-3: #c1c1c1;
    --color-base-4: #888888;
    --color-base-5: #666666;
    --color-base-6: #595959;
    --color-base-7: #484848;
    --color-base-8: #292929;
    --color-base-9: #000000;
    --color-main-1: #d48700;
    --color-main-2: #944813;
    --color-main-3: #5e2808;
    --color-accent-1: #334DCF;

    --icon-size-1: 20px;
    --icon-size-2: 24px;
    --icon-size-3: 32px;
    --icon-size-4: 40px;

    --heading-color: #494949;
    --heading-size-1: 18px;
    --heading-size-2: 14px;
    --heading-size-3: 14px;  
    --heading-weight-1: bold;
    --heading-weight-2: normal;
}

/* .heading{    
    color: #494949;
} */

/* .heading\:1, 
.heading\:2,
.heading\:3,
.heading\:4{
    color: #494949;
} */

.heading\:1{
    font-size: var(--heading-size-1);
    font-weight: var(--heading-weight-1);
    color: var(--heading-color);
}

.heading\:2{
    font-size: var(--heading-size-2);
    font-weight: var(--heading-weight-2);
    color: var(--heading-color);
}

.heading\:3{
    font-size: var(--heading-size-3);
    font-weight: var(--heading-weight-2);
    color: var(--heading-color);
}

.n-icon {
    --icon-type: "";
    --icon-color: var(--color-base-9);
    --icon-size: var(--icon-size-1);
}

.n-icon::before{
    /* boxing */
    width: 24px;
    height: 24px;

    /* layout */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* content */
    font-family: "Material Symbols Outlined";
    font-size: var(--icon-size-2);
}

.icon\:favorite::before{
    --icon-type: "\e87d"; 
}

.icon\:settings::before{
    --icon-type: "\e8b8"; 
}

.icon-color\:main-1::before {
    --icon-color: var(--color-main-1);
}

.icon-color\:main-2::before {
    --icon-color: var(--color-main-2);
}

.icon-color\:main-3::before {
    --icon-color: var(--color-main-3);
}

.icon-size\:1::before {
    --icon-size: var(--icon-size-1);
}

.icon-size\:2::before {
    --icon-size: var(--icon-size-2);
}

.icon-size\:3::before {
    --icon-size: var(--icon-size-3);
}
/* 
 1. 더 큰 아이콘이 필요할 때는?
 2. 색이 다른 아이콘을 사용할 때는?
 
 아이콘 : 5 가지
 색상은 : 3 가지
 크기는 : 3 가지
 총 : 5 * 3 * 3 = 45 가지 */